<html>
    <head>
        <title>Блог Алешки</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог Алешки</a></h1>
        </div>

        <div>
            <p>Дата публикации: 5.11.2018, 12:14</p>
            <h2><a href="">Мой первый пост</a></h2>
            <p>Хеллоу.</p>
        </div>

        <div>
            <p>Дата публикации: 5.11.2018, 12:14</p>
            <h2><a href="">Мой второй пост</a></h2>
            <p>Обзор камерофона Huawei P20 Pro
Содержание
Характеристики
Комплект поставки
Позиционирование
Дизайн, размеры, управляющие элементы
Дисплей
Время работы
Коммуникационные возможности
Память
Камеры
Производительность и ПО
Мультимедиа
Впечатления
Характеристики
Android 8.1, EMUI 8.1
Дисплей 6.1”, FullHD (2240x1080), 408 ppi, автоматическая регулировка яркости, соотношение сторон 18,7:9 (2,074:1), матрица OLED, яркость 400 кд/м2, 10 касаний
Чипсет HiSilicon Kirin 970, 8 ядер (4xCortex-A73 2,36 ГГц + 4xCortex-A53 1,8 ГГц), 64 бит, 10 нм; сопроцессор i7
Графика Mali-G72
6 ГБ оперативной памяти (LPDDR4 SDRAM), 128 ГБ встроенной (UFS 2.1)
nanoSIM, до двух карт, один радиомодуль
Аккумулятор Li-Pol 4000 мАч:
- Время разговора в 3G – 25 часов
- Время разговора в 2G – 38 часов
- Режим ожидания в 4G – 420 часов
- Воспроизведение видео – до 22 часов
- Проигрывание музыки – до 90 часов
- Интернет-сессии в 4G – до 22 часов
Основные камеры – 8 МП (цветной, 3Х оптический зум, оптическая стабилизация, 83 мм, f/2.4), 40 МП (цветной, без стабилизации, 27 мм, f/1.8, размер матрицы 1/1,7 дюйма), 20 МП (черно-белый, без стабилизации, 27 мм, f/1.6); фронтальная камера 24 МП (без стабилизации, 26 мм, f/2.0); лазерная фокусировка, датчик определения цветовой температуры
Wi-Fi 802.11 a/b/g/n/ac (2.4/5 ГГц) 4х4 MIMO, Bluetooth® v4.2, USB Type-C 3.1, NFC, ИК-передатчик
GPS, ГЛОНАСС, BDS
Датчик отпечатка пальца (на передней панели), распознавание лица
Датчик ускорения, электронный компас, гироскоп, датчик приближения, датчик освещенности
LTE CAT 18/13 (бенды 1 - 9, 12, 17 - 20, 26, 28)
Размеры: 155x73х7.8 мм, вес – 180 граммов
Комплект поставки
Смартфон
Сетевой адаптер
USB-кабель
Чехол
Переходник USB Type-C на 3.5 мм
Гарнитура с USB Type-C разъемом.</p>
        </div>
    </body>
</html>
